{% extends 'base/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'project/css/create.css' %}" />
<link rel="stylesheet" href="{% static 'base/css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'base/css/footer.css' %}" />
{% endblock css %} 
{% load crispy_forms_tags %} 
{% block title %}Create Project{% endblock title %} 

{% block content %}
<div class="card">
  <div class="card-header">Create Project</div>
  <div class="card-body create-form">
    <form class="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      {{form|crispy }}
      <div id="div_id_project_image" class="form-group"> 
        <label for="id_image" class=" requiredField">
                Upload images*
        </label> 
        <div>
        {{ imageform.management_form }}
        {% for form in imageform %}
            {{ form }}
        {% endfor %}
        </div>
      </div>
      <div class="btns">
        <button type="submit" class="btn btn-submit">Create</button>
        <a href="#" class="btn btn-return">Return</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
