{% extends 'base/base.html'%}
{% load static %}

{% block content %}

{% if searched %}
        <!-- Nested row for non-featured blog posts-->
            <div style="display: flex; flex-wrap: wrap;">
                <!-- Blog post-->
                {% for project in projects %}
                <div class="card" style="width: 30%;">
                    <a href="#!"><img class="card-img-top" src="{{project.project_main_image.url}}"
                            alt="..." /></a>
                    <div class="card-body">

                        
                        <a href="{% url 'view_project' project.id %}">Project Title: {{ project.project_title}}</a><br />
                        <div class='tags' style='display:flex; flex-wrap:wrap;'>
                        {% for tag in project.project_tags.all %}
                        <a class="tags" style="padding:6px; font-weight: bold;" href="#">#{{ tag }}</a><br />
                        {% endfor %}
                        </div>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
                    {% endfor %}
            </div>

{% endif %}

{% endblock %}

