{% extends 'base/base.html' %} {% load static %}
{% block title %}
    {{project.project_title}}
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'project/css/fa.css' %}" />
<link rel="stylesheet" href="{% static 'project/css/view.css' %}" />
<link rel="stylesheet" href="{% static 'base/css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'project/css/view.css' %}" />
{% endblock css %} 
{% block content %}
{% comment %} Delete project {% endcomment %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
          </div>
          <div class="modal-body">
            Are you sure you want to permanently remove this project?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{% url 'delete_project' pk=project.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<div class="main-div">
    <div class="left-div">
        <!-- Project Images -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            {% if project.is_featured %}
            <div class="featured" id="featured-background">
                <p>Featured</p>
            </div>
            <div class="featured">
                <p>Featured</p>
            </div>
            {% endif %}
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block" style='height:400px;' src="{{project.project_main_image.url}}" alt="" />
                </div>
                {% for image in images %}
                <div class="carousel-item">
                    <img class="d-block" style='height:400px;' src="{{image.image.url}}" alt="" />
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Project Title -->
        <div class="project-title">
            <h3>{{project.project_title}}</h3>
            <p class="updated">Updated at:</p>
        </div>
        <!-- Project Category -->
        <div class="project-category">
            <p class="category-tag">Category:</p>
            <p class="category">{{project.project_category}}</p>
        </div>
        <!-- Project Description -->
        <div class="description">
            <p>{{project.project_details}}</p>
        </div>
        <!-- Project Rating  -->
        <div class="project-rating">
            <form method='POST' class="project-rating">
                {% csrf_token %}
                <div class="rate">
                    <input type='hidden' name='type' value='rate'>
                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10"
                        title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5"
                        class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8"
                        title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5"
                        class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6"
                        title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5"
                        class="half"></label>
                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4"
                        title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5"
                        class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2"
                        title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5"
                        class="half"></label>
                </div>
                <button class="btn btn-primary" style='color:white;'>Rate</button>
            </form>    
            
        </div>
    </div>
    <div class="right-div">
        <!-- Target Progress -->
        <p>Donation Progress</p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: {{project.donation_ratio}}%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="target">
            <p>{{project.totalDonation}}</p>
            <p>{{project.project_total_target}}</p>
        </div>
        <!-- Donate -->
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="type" value="donate">
            <div class="input-group">
                <input type="text" class="form-control" name="amount" aria-label="Amount (to the nearest dollar)" />
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                    <button class="input-group-text" type="submit">Donate</button>

                </div>
            </div>
        </form>
        {% if request.user.id == project.created_by.id %}
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete project 
        </button>
        {% endif %}

        <!-- Similar Projects -->
        <div class="similar-projects">
            <p>Similar Projects</p>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for similar in projects %}
                    {% if similar.project_category == project.project_category and similar.project_title != project.project_title  %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="card" style="width: 100%">
                            <img src="{{similar.project_main_image.url}}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <p class="card-text">{{similar.project_title}}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Comments -->
<div style="width: 70%;">
    <div class="" style="margin: 0px;">
        <div class="">
            <div class="">
                <v class="card">
                    <div class="card-body">
                        {% for comment in project.comments.all %}
                        <div class="">
                            <img class="rounded-circle shadow-1-strong me-3" src="{{comment.user.image.url}}"
                                alt="avatar" width="60" height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">{{comment.user.username}}</h6>
                                <p class="text-muted small mb-0">
                                    {{comment.created_at}}
                                </p>
                            </div>
                        </div>

                        <p class="mt-3 mb-4 pb-2">
                            {{comment.comment}}
                        </p>

                        <!-- <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fa-solid fa-flag me-2"></i>
                                <p class="mb-0">Report</p>
                            </a>
                        </div> -->
                        <hr>
                        {% endfor %}
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="comment">
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3" src="{{request.user.image.url}}"
                                    alt="avatar" width="40" height="40" />
                                <div class="form-outline w-100">
                                    <textarea name='content' class="form-control" id="textAreaExample" rows="4"
                                        style="background: #fff"></textarea>
                                    <label class="form-label" for="textAreaExample">Write a Comment...</label>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-outline-primary btn-sm">
                                    Add Comment
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
    defer></script>
{% endblock content %}

{% block footer %}
{% endblock footer %}