{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    {% comment %} Delete project {% endcomment %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
          </div>
          <div class="modal-body">
            Are you sure you want to permanently remove this project?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{% url 'delete_project' pk=project.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% comment %} Homepage {% endcomment %}
    <h1> View Project </h1>
    <ul>
            {{project.project_title}} - id: {{project.id}} -
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete project
                </button>
    </ul>
{% endblock %}