.header {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color: #5A8E9C;
    box-shadow: 0px 0px 7px 0px #5A8E9C;
}

.navbar {
    background-color: #5A8E9C;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.navbar-brand {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
}

.search {
    width: 70%;
}

.dropdown {
    display: flex;
    position: relative;
}

.dropdown > * {
    align-items: center;
}

.dropdown-toggle {
    color: white;
}

.dropdown-toggle:hover {
    color: white;
}

.dropdown-item:active {
    background-color: white;
    color: black;
}

.profile-image {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 40px;
}

.dropdown-menu{
    position: absolute ;
    left: -73px;
    top: 65px;
}