{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Dashboard
{% endblock title %}
{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'base/css/navbar.css' %}" />
<style>
    body {
        background: #f3f3f3;
        color: #616f80;
    }

    .search {
        display: none;
    }

    .container {
        width: 100%;
    }

    .card {
        border: none;
        margin-bottom: 24px;
        -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
        box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    }

    .avatar-xs {
        height: 4rem;
        width: 4rem;
    }

    .before {
        height: 4rem;
        width: 4rem;
    }

    td {
        align-items: center;
    }

    .table_main {
        display: flex;
        justify-content: space-evenly;
        background-color: #F2F6FC;

    }


    .table_left {
        margin-top: 30px;
        flex: 3;
    }

    .table_right {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
    }
</style>
{% endblock css %}
{% block content %}
{% comment %} Delete Project {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently remove this project?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" id="name" name="delete_project" style='display:none;'></input>
                    <button type='submit' class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% comment %} Delete Category {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently remove {{project.project_title}} project?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" id="name" name="delete_category" style='display:none;'></input>
                    <button type='submit' class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="table_main">

    <div class="table_left">

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Projects</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Category</th>
                        <th scope="col">Featured</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <th scope="row">{{project.id}}</th>
                        <td>{{project.project_title}}</td>
                        <td>
                            {{project.created_by}}
                        <td>
                            {{project.project_category}}
                        </td>
                        <td>
                            <form action="{% url 'feature_it' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="project" value="{{project.id}}">
                                <button class="btn btn-primary" {% if project.is_featured %} disabled {% endif %}>Feature it</button>
                            </form>

                        </td>
                        <td>
                            <div class="action ">
                                <form action="{% url 'dashboard' project.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="delete_project" style='display:none;' value="{{project.id}}"></input>
                                    <button type='submit' class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="table_right">

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#id</th>

                        <th scope="col">Category</th>
                        <th scope="col">Action</th>
                        <a href='{% url 'create_category'%}' class="btn btn-primary" style="width: 100%;">+ Add
                            Category </a>

                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <th scope="row">{{category.id}}</th>
                        <td><a href="{% url 'update_category' category.id %}">{{category.name}}</a></td>
                        <td>
                            <div class="action ">
                                <form action="{% url 'dashboard' category.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="delete_category" style='display:none;' value="{{project.id}}"></input>
                                    <button type='submit' class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock content %}
{% block footer %}

{% endblock footer %}