{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent - CrowdFunding</title>
    <style>
        body{
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <div>
        <div style="color: #5A8E9C; text-align: center;">
            <h1 href='{% url 'landing_page' %}' style="font-family: poppins;">CrowdFunding</h1>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <img src="{% static 'account/images/email_sent.png' %}" width="400px" height="400px">
        
        </div>
    </div>
</body>
</html>