{% load static %}
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - CrowdFunding</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style>
    body{
        background-color: aliceblue;
    }
</style>
</head>
<body>
    <div class="container" style="color: #5A8E9C;">
        <h1 href='{% url 'landing_page' %}' style="font-family: poppins;text-align: center;" class="mt-5">CrowdFunding</h1>
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'account/images/reset_password2.png' %}" width="400px" height="400px">
            </div>
            <div class="col-lg-6">
                <div style="margin-top: 20px; margin-left: 60px;font-size: 20px;">
                    <p>Please enter your new password.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-center">
                            <button class="btn btn-primary mt-4" type="submit">Reset password</button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>