{% load static %}    
{% load crispy_forms_tags %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Complated - CrowdFunding</title>
    <style>
        body{
            background-color: aliceblue;
        }
        .link{
            font-size:25px;
            text-decoration: none;
            color:#5A8E9C;
        }
        .link:hover{
            background-color: #d1d1d1;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div>
        <div style="color: #5A8E9C; text-align: center;">
            <h1 href='{% url 'landing_page' %}' style="font-family: poppins;">CrowdFunding</h1>
            <p>Your password has been set. You may go ahead and log in now.</p>  
            <img src="{% static 'account/images/completed.png' %}" width="400px" height="400px">
            <div>
                <a class="link" href="/account/login">Log in</a>
            </div>
            
            
        
        </div>
    </div>
</body>
</html>
