
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.rating {
    text-align: end;
}

footer {
    flex: 1;
    margin-top: 30px;
    background-color: #5A8E9C;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-header {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header>img {
    height: 200px;
    width: 200px;
}

.body-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-div {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-div {
    width: 25%;
}

.latest-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-div>.card {
    width: 45%;
}

.carousel-inner {
    width: 100%;
}

.add-project {
    color:#5A8E9C !important;
    border-color: #5A8E9C !important;
}

.add-project:hover {
    color: white !important;
    background-color: #5A8E9C !important;
}

.read-rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-text{
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}